<main class="reset_main">
    <div class="reset_password_container">
        <h1 class="reset_title">Restablecer Contraseña</h1>
        <h4 class="reset_description">Por favor, introduce tu nueva contraseña.</h4>
        <form id="reset_password_form" action="/api/session/reset/{{token}}" method="POST">
            <div class="form_group">
                <label for="newPassword">Nueva Contraseña:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form_group">
                <label for="confirmNewPassword">Confirmar Nueva Contraseña:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
            </div>
            <input type="hidden" name="token" value="{{token}}">
            <button type="submit" class="submit-btn">Restablecer Contraseña</button>
        </form>
    </div>
</main>
    <script src="/js/reset.password.js"></script> 