body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 5px;
    text-align: center;
    margin-bottom: 30px;
    align-items: center ;
    background: linear-gradient(to bottom right, #0b0b0be6, #393939e6)
  }
  
  .banner-signup{
    max-width: 100%;
    height:  200px;
    padding: 10px;
  }

  .titulo{
    color: #dcdbdb;
    position: absolute;
    top: 10%;
    right: 45%;
    font-size: 50px;
  } 

  .signup-form{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    background-color: #202020;
    border: none;
    font-size: 14px;
  }

  .login-container {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 5px;
    align-items: start;
    background: linear-gradient(to bottom right, #0b0b0be6, #393939e6)
  }

  .login_methods{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  .banner-login{
    max-height: 740px;
    margin-right: 250px;
  }
  .title_page{
    color: #6a6a6a;
    font-size: 50px;
    position: relative;
   
  } 
  .titulo-login{
    color: #6a6a6a;
    font-size: 25px;
    margin-top: 20px;
  }

  .login-form{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    background-color: #202020;
    color : #eaeaea;
  }

  .form-group {
    margin-bottom: 10px;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #cac5c5;
  }
  
.fields {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .carritoButton {
    background-color: #8d4e21;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
  }
  
  .carritoButton:hover {
    background-color: #ff5500;
  }

  .forgot-password-link{
    color: #9d9d9d;
  }

  .github-login-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.github-login-btn:hover {
    background-color: #555;
}

.forgot-password-title{
    padding: 70px;
    color: #6a6a6a;
}

.forgot-form{
    width: 300px;
    background-color: #202020;
    border: none;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}
.forgot-password-container{
  background: linear-gradient(to bottom right, #0b0b0be6, #393939e6);
  height: 750px;
}

.forgot-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_title{
    color: #02147d;
}

.admin_container {
  width: 100%;  
  overflow-x: auto; 
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
}

table {
  width: 80%; 
  border-collapse: collapse;
}

.admin_table_title th {
  text-align: left;
  padding: 8px;  
  background-color: #f4f4f4;
}

.admin_table_title th:nth-child(1) { width: 15%; } 
.admin_table_title th:nth-child(2) { width: 25%; } 
.admin_table_title th:nth-child(3) { width: 10%; } 
.admin_table_title th:nth-child(4) { width: 10%; } 
.admin_table_title th:nth-child(5) { width: 30%; } 

.admin_table_data td {
  text-align: left;
  padding: 8px;
  border-top: 1px solid #ddd; 
}
